{% extends 'base.html.twig' %}

{% block title %}登陆{% endblock %}

{% block head %}
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="readshare">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/pic/logo.ico">
{% endblock %}

{% block body %}
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui teal image header">
                <img src="/pic/logo.png" class="image">
                <div class="content">
                    Sign up to bookshare
                </div>
            </h2>
            <form class="ui large form" method="post">
                <div class="ui stacked segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="form[email]" placeholder="E-mail address" id="email">
                        </div>
                    </div>

                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="text" name="form[username]" placeholder="User name" id="user">
                        </div>
                    </div>

                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="form[password][first]" placeholder="Password" id="pw1">
                        </div>
                    </div>

                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="form[password][second]" placeholder="Repeat Your Password" id="pw2">
                        </div>
                    </div>
                    <input type="hidden" id="form__token_real" name="form[_token]">
                    <div class="ui error message"></div>
                    <div class="ui fluid large teal submit button" name="form[submit]" onclick="db()" style="margin-bottom: 5px;">Sign up.</div>
                    <a href="{{ path('login') }}"><div class="ui fluid large teal button" >Login</div></a>
                </div>

            </form>

            <div id="fake-form" style="display: none">
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/semantic.min.css">
    <style type="text/css">
        body {
            background-color: #DADADA;
        }
        body > .grid {
            height: 100%;
        }
        .image {
            margin-top: -100px;
        }
        .column {
            max-width: 450px;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/js/semantic.min.js"></script>
    <script src="/js/check.js"></script>
    <script>
        window.onload = function () {
            var token = $('#form__token').val()
            $('#form__token_real').val(token)
            $('#fake-form').html('')
        }
    </script>
{% endblock %}
