{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
    <div id="entry"></div>
{% endblock %}

{% block javascripts %}
    <script>
        window._feInjection = JSON.parse(decodeURIComponent("{{ _injection|json_encode|url_encode }}"));
    </script>
    <script src="/js/main.js"></script>
{% endblock %}